<% if @receiver %>
  <h3>Messages for: <%= @receiver %></h3>
<% end %>

<% if @messages.present? %>
  <div class="message_box">
    <% @messages.each do |message| %>
      <p><strong><%= message.sender.email_address %>:</strong> <%= message.content %></p>
    <% end %>
  </div>
<% else %>
  <h3>No messages yet</h3>
<% end %>

<% if @receiver %>
  <%= render partial: "messages/form", locals: {receiver: @receiver} %>
<% end %>
