<% if @receiver %>
  <h3>Messages for: <%= @receiver %></h3>


  <%=turbo_stream_from @receiver.is_a?(Group) ? @receiver : Current.user, "messages_box" %>
  <div id="messages_box">
    <% if chat_with.present? %>
      <% chat_with.each do |message| %>
        <%= render partial: 'messages/message', locals: {message: message} %>
      <% end %>
    <% end %>
  </div>


  <%= render partial: "messages/form", locals: {receiver: @receiver} %>
<% end %>
