<% if user.friends.present? %>
<ul class="mb-4">
  <% user.friends.each do |friend| %>
    <li class="bg-gray-100 hover:bg-gray-400 hover:underline p-2 rounded-md" tabindex="0"><%= link_to truncate(friend.email_address, length: 20), root_path(friend_id: friend) %></li>
  <% end %>
</ul>
<% end %>